// _carrito.scss Alonso
// Estilos personalizados específicos para la página del carrito de compras
@use 'variables' as *;

#contenedorCarrito {
    td {
        vertical-align: middle; // Centra verticalmente los elementos de la tabla
    }
    
    input[type="number"] {
        text-align: center;
        border-color: $ofitech-blue;
        &:focus {
            box-shadow: 0 0 5px $ofitech-accent;
            border-color: $ofitech-accent;
        }
    }
}