// OfiTech color and font variables
$ofitech-blue: #001762;
$ofitech-accent: #6EE7F9;
$ofitech-footer-icon: #fff;
$ofi-font: 'Poppins', sans-serif;
$ofi-font-weight: 500;
$ofi-font-style: italic;
$tech-font-weight: 700;
